body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 16px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand {
    color: #8DB0AA;
}

.navbar-default .navbar-nav li a {
    color: #8DB0AA;   
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    /*background: url(../img/intro-bg.jpg) no-repeat center center;*/
    background: url(http://h.fastcompany.net/multisite_files/fastcompany/imagecache/1280/poster/2013/11/3021379-poster-p-1-the-curious-tale-of-the-to-do-list-and-how-to-craft-one-that-actually-works.jpg) no-repeat center center;
    background-size: cover cover;
    opacity: .9;
}

.intro-header #home-page {
    height: 700px;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.home-page {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.task-page {
    margin-top: -50px;
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
    color: #768785;
}

h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
    color: #768785;
}

h4 {
    color: #FBB89E;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

footer {
    padding: 20px 0;
    background-color: #f8f8f8;
    font-size: 16px;
}

a {
 color: #8DB0AA;
}

p.copyright {
    margin: 15px 0 0;
}

/* Form Styles */
textarea, input{
    color:#000;
    border-radius: 5%;
    margin-bottom: 10px;
    opacity: .8;
    text-align: center;
}

textarea {
    height: 100px;
    width: 40%;
}

input {
    height: 25px;
    width: 40%;
}

input[type=submit] {
    margin-top: 10px;
    border-radius: 5px;
    height: 40px;
    width: 20%;
    background-color: rgb(90,90,90);
}