<div class="intro-header">
    <div class="container" id="home-page">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message home-page">
                    <h1>Task Manager</h1>
                    <h4>Your To-Do's On One Page</h4>
                </div>
            </div>
        </div>
    </div>
</div>